.menu_box {
    margin-bottom:10px
}
.menu_list {
    padding-top:6px;
    *font-size:0;
    padding-bottom:6px;
    border-top:1px solid #e7e7eb;
    margin-bottom: 0;
}
.menu_list.no_extra {
    border-top-width:0;
    margin-top:13px
}
.menu_list.extra {
    border-bottom:1px solid #e7e7eb
}
.menu_list.closed .menu_item {
    display:none
}
.menu_title {
    position:relative;
    width:auto;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    line-height:38px;
    padding:0 23px 0;
}
.menu_title a {
    padding:0;
    display:block;
    color: #444;
    text-decoration:none;
}
.menu_title a:hover {
    text-decoration:none;
}
.menu_title.selected, .menu_title.selected:hover {
    background-color:#44b549;
    color:#fff
}
.menu_title.selected a {
    color:#fff
}
.menu_item {
    line-height:34px;
}
.menu_item a {
    display:block;
    padding:0 0 0 50px;
    width:auto;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    color:#333;
}
.menu_title {
    margin-bottom:0
}
.menu_item:hover, .menu_title:hover {
    background-color:#f4f5f9
}
.menu_item.selected {
    background-color:#44b549;
    color:#fff
}
.menu_item.selected a {
    color:#fff
}